:root {
  --color-primary: #69ff44;
  --color-primary-op: #69ff448e;
  --color-primary-focus: #beffae;

  --color-grey-0: #242424;
  --color-grey-1: #4f4f4f;
  --color-grey-2: #7b7b7b;
  --color-grey-3: #a7a7a7;
  --color-grey-4: #faf8ff;

  --font-family-title: "Inter", sans-serif;
  --font-family-text: "Montserrat", sans-serif;

  --title-size-1: 24px;
  --title-size-2: 20px;

  --text-size-1: 16px;
  --text-size-2: 14px;
  --text-size-3: 12px;
}
